@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/bellota/Bellota-LightItalic.otf');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/bellota/Bellota-BoldItalic.otf');
}

a {
    text-decoration: none;
    color: #1086ba;
}

html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    line-height: 17px;
    background-color: #ecf0f1;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #3498db;
    border-bottom: 5px solid #1894ca;
    margin: 0 0 10px 0;
    display: inline-flex;
}

.logo a {
    text-decoration: none;
    margin: 0 0 10px 10px;
    font-family: 'Bellota-Bolditalic', sans-serif;
    font-size: 30px;
    top: 9px;
    position: relative;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    color: #1086ba;
}

.logo a:hover {
    text-decoration: none;
    color: #1066ba;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 7px solid #e67e22;
}

#username {
    color: #fff;
    font-size: 21px;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
    overflow-x: none;
}

.column {
    background-color: #fff;
    padding: 10px;
    border-radius: 1px solid #d3d3d3;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -100;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details img {
    /*flex: 3;*/
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    /*flex: 6;*/
    float: right;
    width: 70%;
    min-height: 160px;
    z-index: -100;
    position: absolute;
    left: 320px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 11%;
    height: 65px;
    border: none;
    border-radius: 3px;
    background-color: #3498db;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #1066ba;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
    color: #fff;
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}

.post_profile_pic img {
    border-radius: 5px;
    height: 70px;
    /*
	width: 50;
	height: 50;
*/
}

#loading {
    width: 70px;
    position: absolute;
    bottom: 4%;
    right: 50%;
}

.hide {
    display: none;
    margin: 0;
    padding: 0;
}

.no-posts {
    color: #ACACAC;
}