@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/bellota/Bellota-LightItalic.otf');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/bellota/Bellota-BoldItalic.otf');
}

a {
    text-decoration: none;
    color: #1086ba;
}

html {
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    line-height: 17px;
    background-color: #ecf0f1;
    /*overflow-y: hidden;
    overflow-x: hidden;*/
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #3498db;
    border-bottom: 5px solid #1894ca;
    margin: 0 0 10px 0;
    display: inline-flex;
    z-index: 10000;
}

.logo a {
    text-decoration: none;
    margin: 0 0 10px 10px;
    font-family: 'Bellota-Bolditalic', sans-serif;
    font-size: 30px;
    top: 9px;
    position: relative;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    color: #1086ba;
}

.logo a:hover {
    text-decoration: none;
    color: #1066ba;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 7px solid #e67e22;
}

#username {
    color: #fff;
    font-size: 21px;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
    overflow-x: none;
}

.column {
    background-color: #fff;
    padding: 10px;
    border-radius: 1px solid #d3d3d3;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -100;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-table;
    position: absolute;
}

.user_details img {
    /*flex: 3;*/
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    /*flex: 6;*/
    float: right;
    width: 70%;
    min-height: 160px;
    z-index: -100;
    position: absolute;
    left: 320px;
}

.post_form {
    width: 100%;
    margin-bottom: 20px;
}

.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 11%;
    height: 65px;
    border: none;
    border-radius: 3px;
    background-color: #3498db;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #1066ba;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
    color: #fff;
}

.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs li a:hover {
    background-color: rgba(41, 128, 182, 0.3);
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0 5px;
    min-height: 75px;
}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}

.post_profile_pic img {
    border-radius: 5px;
    height: 70px;
    /*
	width: 50;
	height: 50;
*/
}

#loading {
    width: 70px;
    position: absolute;
    bottom: 4%;
    right: 50%;
}

.hide {
    display: none;
    margin: 0;
    padding: 0;
}

.no-posts {
    color: #ACACAC;
}

#comment_iframe {
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
    background-color: #3498db;
}

.comment_section {
    padding: 0 5px 5px 5px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #20AAE5;
    color: #156588;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.newsFeedPostOptions {
    cursor: pointer;
    padding: 0px;
    text-decoration: none;
    color: #20AAE5;
    border: none;
}

.newsFeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like {
    background-color: #fff;
    font-size: 14px;
    border: none;
    color: #3498db;
    padding: 0;
    cursor: pointer;
}

.like_value {
    display: inline;
    font-size: 14px;
    background-color: #fff;
}

.profile_left input[type="submit"] {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.profile_left {
    top: -10px;
    width: 35%;
    max-width: 300px;
    min-width: 130px;
    min-height: 100vh;
    float: left;
    position: relative;
    background-color: #3498db;
    border-right: 10px solid;
    color: #cbeaf8;
    margin-right: 20px;
    padding-top: 40px;
}

.profile_left {
    position: absolute;
    left: 0;
    margin-top: 0;
    margin-right: 50px;
    /*padding: 50px 0 0 50px;*/
}

.profile_left form {
    padding-left: 20px;
    /*padding: 50px 0 0 50px ;*/
}

.profile_left img {
    min-width: 80px;
    width: 45%;
    border: 5px solid #83d6fe;
    border-radius: 100px;
    margin-left: 22%;
    margin-bottom: 15px;
}

.profile_info {
    display: list-item;
    text-decoration: none;
    list-style: none;
    background-color: #005288;
    width: 100%;
    line-height: 1.5;
    padding: 20px 0;
}

.profile_info p {
    margin-left: 20px;
    word-wrap: break-word;
    margin-left: 20%;
}

.danger {
    background-color: #e74c3c;
}

.warning {
    background-color: #f8ad4e;
}

.default {
    background-color: #bdc3c7;
}

.success {
    background-color: #2ecc71;
}

.info {
    background-color: #3498db;
}

.profile_left input[type="submit"].deep_blue {
    margin: 15px 0 0 9%;
    width: 75%;
    background-color: #0043f0;
}

#accept_button {
    width: 15%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #3498db;
}

#ignore_button {
    width: 15%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #e74c3c;
}

.delete_button {
    height: 30px;
    padding: 10px;
    float: right;
    border-radius: 6px;
    border: none;
    right: -15px;
    margin-top: 5px;
    position: relative;
    line-height: .8;
}

.mutual_friends_btn {
    background-color: #fff;
    border: none;
    height: 28px;
    width: 75%;
    position: relative;
    border-radius: 6px;
    margin: 10px 0 0 9%;
    color: #0043f0;
}

.mutualFriendList li {
    list-style: none;
    padding: 10px;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 1.5em;
}

.mutualFriendList li a {
    text-decoration: none;
}

.mutualFriendList li a img {
    width: 70px;
}

#friendsLink {
    background-color: transparent;
    padding: 0;
    width: 100px;
    height: 15px;
    margin-left: 13%;
    color: #d1e5e8;
    border: none;
}

#friendsLink:hover {
    color: orange;
}


/* Important part */

.modal-dialog {
    overflow-y: initial !important
}

.message-box h4,
.message-box .to-box {
    margin-bottom: 8px;
    padding: 0 15px;
}

.modal-body {
    height: 75vh;
    overflow-y: auto;
}

textarea#message_textarea {
    width: 78%;
    margin-right: 6px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    font-size: 12px;
    font-family: 'Bellota-BoldItalic', sans-serif;
    padding: 6px 0 0 5px;
}

input#message_submit {
    height: 42px;
    width: 120px;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    border: none;
    color: #fff;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    padding: 5px;
}

.loaded_messages {
    display: flex;
    flex-direction: column;
    height: 60%;
    min-height: 200px;
    max-height: 468px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: column;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 20px;
    font-family: 'Bellota-BoldItalic', sans-serif;
}

.message p {
    margin-bottom: 10px;
    padding: 8px 10px;
    color: #fff;
    border-radius: 5px;
}

.message#blue p {
    flex: 1;
    background-color: #3498db;
    border-color: #2980b9;
    align-self: flex-end;
}

.message#green p {
    flex: 1;
    align-self: flex-start;
    background-color: #2ecc71;
    border-color: #27ae60;
}

.message-column {
    margin: 0;
    padding: 0;
}

div#conversations {
    margin-left: 0;
    display: block;
    position: absolute;
    margin-top: 182px;
}

div#conversations h4 {
    text-align: center;
    padding: 5px 0;
    color: #888888;
    border-bottom: 1px solid #d3d3d3;
}

.loaded_conversations {
    max-height: 390px;
    overflow-y: auto;
    text-align: left;
    line-height: 1.3;
}

.loaded_conversations a {
    text-decoration: none;
    color: #a3a3a3;
}

.loaded_conversations a:hover {
    color: #3498db;
}

.user_found_messages {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 8px 10px 8px;
}

.user_found_messages .username {
    color: #2980b9;
    font-size: 15px;
    font-weight: bolder;
}

.user_found_messages:hover {
    background-color: #D3D3D3;
}

.conversation-pic {
    max-height: 55px;
    float: left;
}

a.new-message {
    margin-left: 28%;
    line-height: 2.5;
    color: #A1A1A1;
    font-weight: bold;
}

a.new-message:hover {
    color: #3498db;
}

.resultDisplay {
    padding: 10px 5px 0 5px;
    height: 70px;
    border-bottom: 1px solid #d3d3d3;
}

.resultDisplay {
    float: none;
    text-decoration: none;
}

.resultDisplay:hover {
    background-color: #D3D3D3;
}

.resultDisplay p.grey {
    color: #A1A1A1
}

.liveSearchProfilePic img {
    height: 50px;
    border-radius: 25px;
    margin: 0 12px 0 10px;
    float: left;
    /*border: 3px solid #3498db;*/
}

.liveSearchText p {
    display: inline-block;
    width: 20%;
}

.liveSearchText p.name {
    /*background-color: red;*/
    margin-top: 15px;
    font-weight: bolder;
    margin-left: 5px;
}

.liveSearchText p.username {
    font-size: 12px;
    text-align: center;
    width: 30%;
}

.message-box {
    margin: 0;
}

.dropdown_data_window {
    height: 288px;
    padding: 0px;
    /*background-color: rgba(255, 255, 255, 0);*/
    width: 320px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow-y: hidden;
    z-index: 200;
    line-height: 1.3;
}

.showDropdown {
    min-height: 270px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 320px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow-y: hidden;
    /*z-index: 20000;*/
    line-height: 1.3;
    border: 6px;
    border-style: solid;
    border-color: rgba(41, 128, 182, .4);
    border-top: 0px;
    background-clip: padding-box;
}

.dropdown_data_window:hover {
    overflow-y: auto;
    border: 6px;
    border-style: solid;
    border-color: rgba(41, 128, 182, .4);
    border-top: 0px;
    background-clip: padding-box;
}

.dropdown_data_window .user_found_messages {
    height: 50px;
}

.dropdown_data_window .conversation-pic {
    height: 35px;
    padding-right: 10px;
}

.dropdown_data_window .user_found_messages .username {
    font-size: 15px;
    margin-right: 10px;
    font-weight: bolder;
    width: 20%;
}

.dropdown_data_window .time {
    color: #777777;
    float: right;
}

.dropdown_data_window .latest-message {
    font-size: 14px;
    color: #0ea6e8;
}

.dropdown_data_window .opened {
    background-color: #f4f4f4;
}

.dropdown_data_window .opened:hover {
    background-color: #D3D3D3;
}

.dropdown_data_window a {
    text-decoration: none;
}

.dropdown_data_window .opened-message {
    float: right;
    color: #1abc9c;
}

.dropdown_data_window:hover::-webkit-scrollbar {
    width: 13px;
}


/* Track */

.dropdown_data_window:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 100px 0px 0px rgba(41, 128, 182, 0.7);
}

.notification_badge {
    padding: 3px 7px;
    min-height: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 25px;
    left: 8px;
    top: -3px;
}

a {
    text-decoration: none;
}

.unopened-message {
    float: right;
    color: #F1A9A0;
}

.resultDisplayNotification {
    height: 45px;
    color: #1485bd;
    padding-top: 5px;
}

.resultDisplayNotification img {
    height: 35px;
    border-radius: 5px;
    margin: 0px 12px 0px 2px;
    float: left;
}

.resultDisplayNotification .time {
    /*background-color: orange;*/
    font-size: 12px;
}

.notification_message {
    /*color: red;*/
    /*margin-top: 30px;*/
    width: 100%;
    /*display: inline-block;*/
    font-size: 12px;
}